table {
  border-collapse: collapse;
  margin: 4px 0;
}
table th,
table td {
  padding: 4px;
  border: 1px solid #888;
}
table td {
  cursor: pointer;
}
table tr:hover td {
  background-color: pink;
}
table th {
  background-color: #ddd;
}
