template#tickets {
  --loop: tickets;
}

option.ticket {
  --bind-value: tickets.*.id;
  --bind-textContent: tickets.*.name;
}

button[name='clear'] {
  --bind-disabled: chosenTicket|falsey;
}

.chosenTicketInfo {
  --bind-style-display: chosenTicket|style-display;
}

.chosenTicketInfo .name {
  --bind-textContent: chosenTicket.name;
}

.chosenTicketInfo .price {
  --bind-textContent: chosenTicket.price|number-value;
}
