template#regions {
  --loop: regions;
}

option.region {
  --bind-value: regions.*;
  --bind-textContent: regions.*;
}

template#prefectures {
  --loop: prefectures;
}

tr.prefecture td[data-name='no'] {
  --bind-textContent: prefectures.*.no;
}

tr.prefecture td[data-name='name'] {
  --bind-textContent: prefectures.*.name;
}

tr.prefecture td[data-name='capital'] {
  --bind-textContent: prefectures.*.capital;
}

tr.prefecture td[data-name='population'] {
  --bind-textContent: prefectures.*.population|locale-string;
  --bind-class-under-million: prefectures.*.population|lt:1000000;
  --bind-class-over-5million: prefectures.*.population|ge:5000000;
}

tr.prefecture td[data-name='share'] {
  --bind-textContent: prefectures.*.share|fixed:2;
}

tr.summary td[data-name='title'] {
  --bind-textContent: sumTitle;
}

tr.summary td[data-name='population'] {
  --bind-textContent: sumPopulation|locale-string;
}
