template#tickets {
  --loop: tickets;
}

option.ticket {
  --bind-value: tickets.*.id;
  --bind-textContent: tickets.*.name;
}

button[name='clear'] {
  --bind-disabled: ticket|falsey;
}

.ticketDetail {
  --bind-style-display: ticket|style-display;
}

.ticketDetail .name {
  --bind-textContent: ticket.name;
}

.ticketDetail .price {
  --bind-textContent: ticket.price|number-value;
}
